@model SKILLS.Models.classes.SKILL
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-bottom:20px">
        <label>Skill Comment</label>
        @Html.TextBoxFor(x => x.ACIKLAMA, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:20px">
        <label>Skill Value</label>
        @Html.TextBoxFor(x => x.DEGER, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">UPDATE</button>
    </div>
</form>

